.top-nav{
    background: #32aeb1;
}
.img-thumbnail{
    max-width: 100%;
}

.logo{
    position: relative;
    left:10px;
    top:1px;
    max-width: 20%;
    max-height: 8%;
    
    
}
.cart-logo{
    position: relative;
    right:20%;
    top:40px;
    max-width: 2%;
    max-height:2%;
    float:right
}


.nav-signin{
    position:relative;
    right:10%;
    top:40px;
    max-width:2%;
    max-height:2%;
    float: right;
}
.search-bar{
    position:relative;
    align-items: center;
    top:10px;
    padding:10px;
    background-origin: padding-box;
    border-color: white;
    box-sizing: border-box;
    border-radius: 10px;
}
.top-nav1{
    display: flex;
  flex-wrap:inherit;
  align-items: center;
  background: #32aeb1;
  left:100px;
  
}
.top-nav1 > div {
    margin-left: 130px;
    padding: 10px;
    font-size: 20px;

}
.dropbtn {
    background-color: #32aeb1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #32aeb1;
  }

  .medicine{
     text-decoration:none;
     color:whitesmoke;
  }
  .wellness{
      text-decoration: none;
      color:whitesmoke;
  }
  .labtest{
      text-decoration: none;
      color:whitesmoke;
      
  }
  .top-nav2{
    display: flex;
    position:relative;
  flex-wrap:inherit;
  background: white;
  background-color: white;
  margin-left: 16%;
  margin-right: 16%;
  
}
.top-nav2 > div {
    margin-left: 50px;
    padding: 5px;
    font-size: 14px;

}
.top-nav2 a {
  color:black;
  text-decoration: none;
}

.kareena{
  max-width:100%;

}
.nav-dropdown{
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-top-right-radius: none;
  padding:-10px;
}
#dropdown-basic{
  background-color: white;
  color:rgba(11, 18, 25, 0.5);
  border-color: none;
  padding: 10px;
  border-radius: 10px;
  
}
.pin{
  color:rgb(36, 174, 177);
  
}
.menu{
  margin-top: 10px;
}

.shop_heading{
 
    position: relative;
    display: block;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 30px;
}
.nav-text{
  text-decoration:none;
  color:whitesmoke;
}